<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <!-- Dono da imagem: https://www.flaticon.com/authors/bqlqn -->
    <img src="../../../assets/icon/if_logo.png">
    <h3>iFinanças</h3>
  </ion-text>
</div>